/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} */

div {
  width: 100px;
  height: 100px;
  background-color: aqua;
  border: 1px solid black;
}

.translated {
  transform: perspective(15px) translateZ(-10px);
}

.scaled {
  margin-left: 100px;
  transform: perspective(350px) scaleZ(4) rotateX(30deg) rotateY(50deg);
}


.origin{
    margin-top: 100px;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    margin-left: 200px;
}