.static{
  position: static;
}

.relative{
  display: flex;
  position : relative;
  gap: 10px;
}

.rel{
  border: 1px solid red;
  
}

.rel:nth-child(3){
  position: relative;
  margin-top: 100px;
  margin-left: 20px;
  
}

/* absolute */

.absolute{
  position: relative;
  gap: 20px;
  display: flex;

}


.abs{
position: absolute;

  
}