
.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
}
.flex div{
    margin-left: 20px;
}
.visible{
    width: 300px;
    height: 300px;
    padding: 10px;
    overflow: visible;
    border: 1px solid black;

}
.hidden{
    width: 300px;
    height: 300px;
    padding: 10px;
    overflow:hidden;
    margin-top: 100px;
    border: 1px solid black;
}
.scroll{
    width: 300px;
    height: 300px;
    padding: 10px;
    overflow: scroll;
    margin-top: 100px;
    border: 1px solid black;
}
.auto{
    width: 300px;
    height: 300px;
    padding: 10px;
    overflow: auto;
    margin-top: 100px;
    border: 1px solid black;
}